# EXO1
Introduction à l'ACP

In [10]:
library("ggplot2")

In [11]:
# Create the data
data = data.frame(math=c(1,2,3,4,5,6,7,8,9,10,11),
                  musique=c(6,1,4,5,3,2,9,7,8,10,11),
                  francais=c(2,6,1,3,4,5,8,9,7,10,11))

In [12]:
# Show data
data

   math musique francais
1   1    6       2
2   2    1       6
3   3    4       1
4   4    5       3
5   5    3       4
6   6    2       5
7   7    9       8
8   8    7       9
9   9    8       7
10 10   10      10
11 11   11      11

In [ ]:
cov(data)